<table>
	<tr>
		<td>Nome script</td>
		<td>Data</td>
		{% if show_mine %}
		<td>IP</td>
		<td>Nick</td>
		<td>Forum</td>
		<td>User Agent</td>
		{% endif %}
	</tr>
{% for data in data_list %}
	<tr>
		<td>{{data['name']}}</td>
		<td>{{data['date']}}</td>
		{% if show_mine %}
		<td>{{data['ip']}}</td>
		<td>{{data['nick']}}</td>
		<td>{{data['forum']}}</td>
		<td>{{data['ua']}}</td>
		{% endif %}
	</tr>
{% else %}
	<tr>
		<td colspan="6">Nessun elemento corrisponde alla ricerca</td>
	</tr>
{% endfor %}
</table>
<br>
<a href="?my=1">Mostra i miei</a> <br>
<a href="?orderBy=name">Ordina per nome</a> <br>
<a href="?orderBy=date">Ordina per data</a> <br>