<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<title>{% block page_title %}{% endblock %} - Generator</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="description" value="{% block page_desc %}{% endblock %}">
		<base href="http://devel.ffmagazine.net/fastscripts/src/">
		<link rel="stylesheet" href="files/style/styles.css" type="text/css">
		<link rel="stylesheet" href="files/style/thickbox.css" type="text/css">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script type="text/javascript" src="files/script/thickbox.js"></script>
	</head>
	<body onload="var btn = $('#boxbtn'); if(btn) btn.click()">
	{% if output['action'] != 'error' %}
		{% if show_box %}
			<input id="boxbtn" alt="#TB_inline?height=300&width=300&inlineId=box" title="add a caption to title attribute / or leave blank" class="thickbox" type="button" style="display: none" />  
			<div id="box" style="display: none"><p>
				<form method="POST" action="/feedback">
				Vuoi aiutarci a migliorare il servizio? <br>
				Inserisci il tuo nick e il tuo forum qui sotto: <br>
				<input type="text" name="nick" value=""> Nick <br>
				<input type="text" name="forum" value=""> Forum <br>
				<input type="submit" value="Invia">
				</form>
			</p></div>
		{% endif %}
	{% endif %}
		<div>
			<table class="skin_tbl" align="center" cellpadding="0" cellspacing="0"><tr><td class="mleft_top"></td><td><table class="mback" width="100%" cellpadding="0" cellspacing="0"><tr><td class="mback_left"></td><td class="mback_center">

				<div class="mtitle"><h1>{% block title %}{% endblock %}</h1></div>

			</td><td class="mback_right"></td></tr></table></td><td class="mright_top"></td></tr><tr><td class="mleft"></td><td><table class="mainbg" style="text-align:center;width:100%" cellpadding="4" cellspacing="1">

			<!-- <tr>
				<td class="title" colspan="1">SOTTOTITOLO</td>
			</tr> -->

			<tr title="RIGA1">
				<td class="ww">
					{% block content %}{% endblock %}
				</td>
			</tr>

			</table></td><td class="mright"></td></tr><tr><td class="mleft_bottom"></td><td><table class="msub" width="100%" cellpadding="0" cellspacing="0"><tr><td class="msub_left"></td><td class="msub_center">&nbsp;</td><td class="msub_right"></td></tr></table></td><td class="mright_bottom"></td></tr></table><br><br>
		</div>
	</body>
</html>