{% extends "wrapper.html" %}
{% block page_title %}Bottone auto-inserimento codice nel profilo{% endblock %}
{% block page_desc %}Bottone auto-inserimento codice nel profilo{% endblock %}
{% block title %}Bottone auto-inserimento codice nel profilo{% endblock %}

{% block content %}
	{% if output['action'] == 'error' %}
				<div class="alert">
					<b>-Template errore-</b><br>
						Codice errore: <b>{{output['error']['code']}}</b><br>
						Descrizione errore: <b>{{output['error']['msg']}}</b><br>
						Messaggio errore: <b>{{output['error']['txt']}}</b><br>
				</div>
	{% elif output['action'] == 'form' %}
					<h2>Modulo di generazione Bottone auto-inserimento codice nel profilo</h2>
						<form action="generator/profilecode" method="POST">
							<input type="radio" name="profilecode_isText" value="1" checked> Testo <br>
							<input type="radio" name="profilecode_isText" value="0"> Immagine <br><br>
							<input type="radio" name="profilecode_isToProfile" value="1" checked> Codice nel titolo personale <br>
							<input type="radio" name="profilecode_isToProfile" value="0"> Codice nella firma <br>
							<input type="text" name="profilecode_text"> Testo del bottone <br>
							Codice da inserire: <br>
							<textarea name="profilecode_alert"></textarea>
							<input type="hidden" name="check" value="1"> <br>
							<input type="submit" name="submit" value="Procedi">
						</form>
	{% elif output['action'] == 'code' %}
					<pre>{{output['code']['s1']}}</pre>
					Da <b>inserire in</b> <i>Amministrazione > Gestione Codici HTML > Dove preferisci</i>
					<pre>{{output['code']['s2']}}</pre>
					Da <b>inserire in</b> <i>Amministrazione > Gestione Codici HTML > In fondo al forum</i>
					<a href="javascript:history.back()">< Torna indietro</a>
	{% endif %}
{% endblock %}
