{% extends "wrapper.html" %}
{% block page_title %}Up Supporto{% endblock %}
{% block title %}Script Up Supporto{% endblock %}

{% block content %}
	{% if output is number %}
					<h2>Modulo di generazione script auto-up al supporto</h2>
						<form action="generator/support" method="POST">
							<input type="radio" name="support_isText" value="1" checked> Testo <br>
							<input type="radio" name="support_isText" value="0"> Immagine <br><br>
							<input type="text" name="support_text"> Testo / Link immagine <br>
							<input type="text" name="support_id"> ID Topic
							<input type="hidden" name="check" value="auto"> <br>
							<input type="submit" name="submit" value="Procedi">
						</form>
	{% else %}
					<pre>{{output}}</pre>
					<a href="javascript:history.back()">< Torna indietro</a>
	{% endif %}
{% endblock %}
